# top-most EditorConfig file
root = true

# Default settings for all files
[*]
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

# Java-specific settings
[*.java]
indent_size = 2
tab_width = 2
continuation_indent_size = 4

# Kotlin-specific settings
[*.kt]
indent_size = 2
tab_width = 2
continuation_indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_code_style = official
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_keep_blank_lines_before_rbrace = 1
ij_kotlin_right_margin = 80

# XML-specific settings
[*.xml]
indent_size = 2
tab_width = 2
continuation_indent_size = 4
